html,body{
  background-color: #fff;
  margin: 0;padding: 0;
}
#partlista{
  display: flex;
  flex-wrap: wrap;
}
.part{
  display: flex;
  flex-direction: column;
  width : 33.3%;
  height: 190px;
  padding: 1.2em;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
}
.checkcircle{
  position: relative;
  left: 50%;
  border : 2px solid #000;
  margin-left : -12px;
  width : 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.checked{
  background-color: #333;
}
.akro{
  text-align: center; 
  padding-top:1.5em;
}
.partnev{
  text-align: center;
  font-weight: bold;
  padding: 2em;
}
.szlogen{
  text-align: center;
}
#szavazo{
  position: fixed;
  left : 0;
  top : 100%;
  width:100%;
  height: 100px;
  background-color: #000;
  text-align: center;
  color :#fff;
}
#szavazok{
  height: 40px;
  box-sizing: border-box;
  background-color: #000;
  border:1px solid #fff;
  margin-top: 30px;
  color:#fff;
  padding: 0.8em;
  cursor: pointer;
}
#koszi{
  position: fixed;
  top:-200%;
  width: 100%;
  height: 100%;
  padding-top: 10em;
  background-color: #000;
  color:#fff;
  text-align: center;
  font-size: 2em;
}
